/* General styling */
.container {
  width: 100%;
  max-width: 380px;
  margin: 100px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Optional for better design */
}

.nameContainer {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header div {
  font-size: 26px;
  font-weight: 600;
  color: #333;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.userName {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  /* Adjust the gap between first name and last name */
  width: 100%;
}

.userName input {
  width: 48%;
  /* Each input takes up about half of the container */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.inputContainer {
  margin: 10px 0;
}



.inputContainer input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.inputContainer input:focus {
  border-color: #007BFF;
  outline: none;
}

.forget-password {
  text-align: right;
  font-size: 14px;
  color: #007BFF;
  cursor: pointer;
  margin-top: 5px;
}

.forget-password span:hover {
  text-decoration: underline;
}

.Registerhere {
  text-align: center;
  margin-top: 15px;
}

.register-link {
  color: #007BFF;
  cursor: pointer;
}

.register-link:hover {
  text-decoration: underline;
}

/* Submit button styling */
.submitContainer {
  margin-top: 20px;
}

.submit {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.submit:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.submit:active {
  background-color: #004494;
}

.loginsignupbtns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* Add space between the buttons */
}

/* Google Sign-In button styling */
.google-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #39100c;
  color: white;
  border: none;
  padding: 12px 0;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
  /* Space between the regular login and Google login button */
}

.google-signin:hover {
  background-color: #c33d2e;
  transform: translateY(-2px);
}

.google-signin:active {
  background-color: #b03024;
}

.google-icon {
  width: 20px;
  margin-right: 10px;
}